spring:
  application:
    name: vergate
  profiles:
    active: local
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true
    locations: classpath:db/migration

server:
  port: 8080

vergate:
  cache:
    init-ttl-seconds: 60

springdoc:
  swagger-ui:
    path: /swagger-ui
  api-docs:
    path: /api-docs
