spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/vergate
    username: vergate
    password: vergate
    driver-class-name: org.postgresql.Driver
  data:
    redis:
      host: localhost
      port: 6379
  jpa:
    show-sql: true

logging:
  level:
    com.verobee.vergate: DEBUG
    org.springframework.web: DEBUG
